API_SECRET=
PORT=
DB_HOST=
DB_USER=
DB_PASS=
DB_DATABASE=
DB_PORT=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

LSCS_CORE_URL=
LSCS_CORE_API_KEY=

NODE_ENV=

FRONTEND_URL=
ALLOWED_ORIGINS=
